extends layout.pug 

block vars
  - var title = 'cons'


block title
        | Wady procesu
block content
        ul  
          li.fragment Wiecznie nieaktualne środowisko testowe
          li.fragment Nieaktualne dane testowe
          li.fragment Trudno z synchronizować pracę zespołu do testów z cyklem deweloperskim
          li.fragment Bardzo długa procedura
          li.fragment Unikanie testowania performance'u
          li.fragment Bardzo rzadko odpalana procedura
