extends layout.pug

block vars
  -var title = 'dry-run'

block title
        | Deweloperskie testy

block content      
  ul
    li.fragment Odpalamy testy skonfigurowane w pliku testowym na dedykowanym środowisku testowym
    li.fragment Każdy test odpalamy dla pojedynczego requxxxx
    li.fragment Oczekujemy, że wszsytkie zapytania dadzą rezulatat taki jak zdefiniowany w pliku testowym
    li.fragment Jeżeli są rozbierzności to poprawiamy kod do skutuku...

        


