extends layout.pug

block vars
  -var title = 'environment-config'

block title
        | Środowisko testowe
block content      
        ul
            li.fragment Dedykowane serwery z produkcyjną konfiguracją
            li.fragment Nieaktualna wersja aplikacji
            li.fragment Nieaktualne ustawienia