extends layout.pug

block vars
  -var title = 'goal'           

block title
        | Cel testów
block content      
        ul
            li.fragment Zapewnić, że aplikacja będzie działać nawet w czarne dni na giełdzie
            li.fragment Zapewnić, że aplikacja będzie działać nawet przy wyłączeniu jednego/kilku serwerów
