extends layout.pug

block vars
  -var title = 'preparation'

block title
        | Przygotowanie
block content      
        ul
            li.fragment Przygotować listę serwisow wymaganych przez daną stronę
            li.fragment Określić wagi zapytań do serwisów
            li.fragment Oszacować oczwekiwane obciążenie



