extends layout.pug 

block vars
  - var title = 'pros'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'


block title
        | Zalety procesu
block content
        ul  
          li.fragment Serwis jest przygotowany na najgorszy małoprawdopodobny scenariusz
          li.fragment Testy są przeprowadzone przez dedykowanu wyspecializowany dział
          li.fragment Testy są wymagana przy każdej zmianie związanej XXXX
