extends layout.pug

block vars
  -var title = 'splunk'

block title
        | logi
block content      
        h3 Na podstawie logów określamy:
        ul
            li.fragment jakie serwisy są potrzebne aby załadować daną stronę
            li.fragment jak często dany serwis odpytywany



