extends layout.pug

block vars
  -var title = 'test-data'

block title
        | Dane testowe
block content      
        h3 Po analize logów przygotowujemy plik z konfiguracją testów
        p
         |TU BEDZIE PRZYKLAD Z OPISEM PLIKU
        p
         | Teoretycznie po każdej zmianie dotyczących serwisów plik ten powinien być uaktualniany.



