extends layout.pug

block vars
  -var title = 'use-case-1'

block title
        | Use case

block content      
  ul                
    li.fragment TOP 150 USA
    li.fragment Pięniądze, duże pieniądze
    li.fragment Ryzko pojawienia się na pasku w CNN
    li.fragment XXX wizyt dziennie
    li.fragment kilka razy tyle w "czarne" dni tygodnia

            
    