extends layout.pug

block vars
  -var title = 'use-case-2'

block title
        | Use case

block content      
  ul                
    li.fragment nie pierwszej młodości aplikacje Javowe :)
    li.fragment kilka nowszych aplikacji w JavaScripcie
    li.fragment bardzo wiele źródeł danych
    li.fragment aplikacje serwowane klasycznie, z kilku serwerów nie z chumury 

            
    